/*
  Icon Font: canada
*/

@font-face {
  font-family: "canada";
  src: url("./canada.eot");
  src: url("./canada.eot?#iefix") format("embedded-opentype"),
       url("./canada.woff") format("woff"),
       url("./canada.ttf") format("truetype"),
       url("./canada.svg#canada") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "canada";
    src: url("./canada.svg#canada") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-car:before,
.icon-cleanup:before,
.icon-depository:before,
.icon-fitness:before,
.icon-wallet:before,
.icon-wifi:before {
  display: inline-block;
  font-family: "canada";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-car:before { content: "\f100"; }
.icon-cleanup:before { content: "\f101"; }
.icon-depository:before { content: "\f102"; }
.icon-fitness:before { content: "\f103"; }
.icon-wallet:before { content: "\f104"; }
.icon-wifi:before { content: "\f105"; }
